<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>{% block title %}{% endblock %} - ButoBook</title>
        {% load static %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </head>
</html>

<body>
    <div class="app">
        <div class="header">
            <div class="nav-link">
                <div class="nav-link-item">
                    <h1><a href="{% url 'bukobook:index' %}">Bukobook</a></h1>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="nav-link-item">
                        <li><a href="{% url 'bukobook:create' %}">写书</a></li>
                    </div>
                    <div class="nav-link-item">
                        <li><a href="{% url 'bukobook:logout' %}">注销</a></li>
                    </div>
                    <div class="nav-link-item">
                        <li><a href="{% url 'bukobook:personal' id=request.user.id %}">个人中心</a></li>
                    </div>
                    <div class="nav-link-item">
                        <li><a href="">创作中心</a> </li>
                    </div>
                {% else %}
                    <div class="nav-link-item">
                        <li><a href="{% url 'bukobook:register'%}" >注册</a></li>
                    </div>
                    <div class="nav-link-item">
                        <li><a href="{% url 'bukobook:login' %}">登录</a></li>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="body">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>