{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/normal.css' %}">
{% endblock %}

{% block content %}
    <form method="post">
    <div class="submit-title">
        <label for=title">Title</label>
        <input name="title" id="title" value="{{ article.title }}" required>
    </div>
    <div class="sumbit-body">
        <label for="body">Body</label>
        <textarea name="body" id="body" >{{ article.body }}</textarea>
    </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}