{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="auth" style="margin-left: 200px;">
        <h1>Bukobook</h1>
        <form method="post">
            <input name="username" id="username" placeholder="用户名称（必填）" required>
            <input type="password" name="password" id="password" placeholder="用户密码（必填）" required>
            <input type="submit" name="Register" value="登录">
        </form>
        <p>没有账号？</p>
        <a href="{% url 'bukobook:register' %}">点此选择加入我们</a>
    </div>
{% endblock %}